{% assign product_tags = product.tags | join: ' ' %}
{% if product_tags contains 'meta-size-chart-' %}
	<div id="size-chart-modal" class="mfp-hide">
		{% for tag in product.tags %}
			{% if tag contains 'meta-size-chart-' %}
				{% assign size_chart = tag | handle | remove: 'meta-size-chart-' %}
				<h3 class="text-center">{{ pages[size_chart].title }}</h3>
				<div class="feature_divider"></div>
				<div class="size-chart desktop">
					{{ pages[size_chart].content | split:'<!--Split-->' | first }}
				</div>
			<div class="size-chart mobile">
					{{ pages[size_chart].content | split:'<!--Split-->' | last }}
				</div>
			{% endif %}
		{% endfor %}
	</div>
{% elsif settings.size_chart != blank %}
	<div id="size-chart-modal" class="mfp-hide">
		<h5 class="center">{{ pages[settings.size_chart].title }}</h5>
		<div class="feature_divider"></div>
		{{ pages[settings.size_chart].content }}
	</div>
{% endif %}
