{% unless search_btn_style %}
{% assign search_btn_style = 'btn--secondary' %}
{% endunless %}

<form action="{{ routes.search_url }}" method="get"
	  class="input-group search-bar search-bar--header {{ search_bar_location }}" role="search">

	<input type="search" name="q" value="{{ search.terms | escape }}" placeholder="search"
		   class="input-group-field search-input-header" aria-label="{{ 'general.search.placeholder' | t }}"
		   required="required">

	<input type="hidden" name="type" value="article,product">

	<span class="input-group-btn">

    <button type="submit" class="{{ search_btn_style }} icon-fallback-text">
      <img src="{{ 'search-black.svg' | file_url }}" alt="search-black"/>
    </button>
  </span>
</form>
