<!-- /templates/customers/account.liquid -->
{% comment %}

	For all available customer liquid tags:
	- http://docs.shopify.com/themes/liquid-variables/customer

{% endcomment %}

{% paginate customer.orders by 20 %}
	<div class="account-page--wrapper">
		<div class="account-page">
			<header class="section-header">
				<h1 class="section-header__title h2">{{ 'customer.account.title' | t }}</h1>
			</header>

			<div class="account-page--content">
				<aside class="account-page--left">
					{% include 'account-menu' %}
				</aside>

				<section class="account-page--right">
					<div class="account-overview">
						<h3 class="account-page--content__title h4">{{ 'customer.account.hello' | t }}
							, {{ customer.first_name }}!</h3>
						<div class="linksbox-list">
							{% for link in linklists['account-menu'].links %}
								{% unless link.active %}
									<a href="{{ link.url }}" class="linksbox__item">
										<i class="img-icon {{ link.url | handle }}"></i>
										{{ link.title }}
									</a>
								{% endunless %}
							{% endfor %}
						</div>
						{{ 'layout.customer.log_out'| t | customer_logout_link | replace: 'href=', 'class="underlined-link logout-link" href=' }}
					</div>
				</section>
			</div>
		</div>
	</div>
{% endpaginate %}
