<!-- /templates/customers/account.liquid -->
{% comment %}

  For all available customer liquid tags:
    - http://docs.shopify.com/themes/liquid-variables/customer

{% endcomment %}

{% paginate customer.orders by 20 %}
<div class="account-page--wrapper">

    <div class="account-page">

          <header class="section-header">
            <h1 class="section-header__title h2">{{ 'customer.account.title' | t }}</h1>
            <a href="/account" class="underlined-link section-header__back-link">{{ 'customer.account.back_to_account_overview_link' | t }}</a>
          </header>

          <div class="account-page--content">

            <aside class="account-page--left">
              {% include 'account-menu' %}
            </aside>

            <section class="account-page--right">
                <h3 class="account-page--content__title h4">{{ 'customer.account.details' | t }}</h3>

                <div class="user-info--holder">
                  <p class="user-info__name">{{ customer.first_name }} {{ customer.last_name }}</p>
                  <p>{{ 'customer.account.email' | t }}: {{ customer.email }}</p>
                </div>

            </section>

          </div>

    </div>

</div>
{% endpaginate %}