<!-- /templates/customers/login.liquid -->
<div class="account-page--wrapper">

      <div id="CustomerLoginForm">
        {% form 'customer_login', class: 'general-form' %}

          <div class="grid">
            <div class="grid__item large--one-half push--large--one-quarter text-center">

              <header class="section-header">
                <h1 class="section-header__title h2">{% if form.errors %}{{ 'customer.login.title_when_errors' | t }}{% else %}{{ 'customer.login.title' | t }}{% endif %}</h1>
                  {% if form.errors %}
                    {% for field in form.errors %}
                      {% if form.errors.messages[field] contains "email or password" %}
                        <p class="general-form--header__error">{{ 'customer.login.error_email_or_password' | t }}</p>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                <p>{% if form.errors %}<span>{{ 'customer.login.try_again' | t }}</span> <a href="#recover" class="underlined-link" onclick="$('#RecoverPassword').trigger('click'); return false;">{{ 'customer.reset_password.title' | t }}</a>{% else %}<span>{{ 'layout.customer.new_user' | t }}</span> {{ 'layout.customer.create_account' | t | customer_register_link | replace: 'href=', 'class="underlined-link" href=' }}{% endif %}</p>
              </header>

            </div>
          </div>

          <div class="grid">

            <div class="grid__item  xlarge--four-twelfths large--one-half push--xlarge--one-third push--large--one-quarter text-center">

              <div class="general-form--inner">

                <div class="input-group">
                  <input type="email" name="customer[email]" id="CustomerEmail" class="input-group-field input-full{% if form.errors contains 'form' %} error{% endif %}" placeholder="{{ 'customer.login.email' | t }}" autocorrect="off" autocapitalize="off">
                  <label for="CustomerEmail" class="floated-label">{{ 'customer.login.email' | t }}</label>
                </div>

                {% if form.password_needed %}
                  <div class="input-group">
                    <a href="#" class="toggle-password icon-eye"></a>
                    <input type="password" value="" name="customer[password]" id="CustomerPassword" class="input-group-field input-full{% if form.errors contains 'form' %} error{% endif %}" placeholder="{{ 'customer.login.password' | t }}">
                    <label for="CustomerPassword" class="floated-label">{{ 'customer.login.password' | t }}</label>
                  </div>
                {% endif %}

                {% if form.password_needed %}
                  <p class="text-right"><a href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a></p>
                {% endif %}

                <p>
                  <input type="submit" class="btn btn--full general-form__submit" value="{{ 'customer.login.sign_in' | t }}">
                </p>

                <div class="one-click-social-login"></div>

              </div>

            </div>
          </div>

        {% endform %}

      </div>

      {% comment %}
        JS shows/hides this form in timber.loginForms()
      {% endcomment %}
      <div id="RecoverPasswordForm" style="display: none;">

        {% comment %}
          If a user has successfully requested a new password, the form.posted_successfully? variable
          is set to true within the 'recover_customer_password' form only. Within that form you'll see
          the variable 'resetPassword' set to true, which is used to initialize timber.resetPasswordSuccess().
        {% endcomment %}
        <div id="ResetSuccess" class="reset-password-form" style="display:none;">
          <div class="grid">
            <div class="grid__item large--one-half push--large--one-quarter text-center">
              <h2 class="section-header__title">{{ 'customer.recover_password.success_title' | t }}</h2>
              <p>{{ 'customer.recover_password.success' | t }}</p>
            </div>
          </div>
          <div class="grid">
            <div class="grid__item xlarge--four-twelfths push--xlarge--one-third text-center">
              <div class="general-form--inner">
                <a href="#" class="btn btn--full general-form__submit" onclick="$('#HideRecoverPasswordLink').trigger('click'); return false;">{{ 'customer.recover_password.cancel' | t }}</a>
              </div>
            </div>
          </div>

        </div>

        <div class="recovery-section--wrapper">
            <div class="grid">
                  <div class="grid__item large--one-half push--large--one-quarter text-center">

                    <header class="section-header">
                        <h2 class="section-header__title">{{ 'customer.recover_password.title' | t }}</h2>
                        <p>{{ 'customer.recover_password.subtext' | t }}</p>
                    </header>

                  </div>
            </div>

            {% form 'recover_customer_password', class: 'general-form password-recovery-form' %}

            <div class="grid">

                <div class="grid__item xlarge--four-twelfths large--one-half push--xlarge--one-third push--large--one-quarter text-center">

                  <div class="general-form--inner">

                        {% if form.errors %}
                              {% for field in form.errors %}
                                    <p>{{ form.errors.messages[field] }}</p>
                              {% endfor %}
                        {% endif %}

                        {% comment %}
                          Assign variable to be used after timber.init() is run in theme.liquid
                        {% endcomment %}
                        {% if form.posted_successfully? %}
                          {% assign resetPassword = true %}
                        {% endif %}

                        <div class="input-group">
                          <input type="email" value="" name="email" id="RecoverEmail" class="input-full" placeholder="{{ 'customer.recover_password.email' | t }}" autocorrect="off" autocapitalize="off">
                          <label for="RecoverEmail" class="floated-label">{{ 'customer.recover_password.email' | t }}</label>
                        </div>

                        <p>
                          <input type="submit" class="btn btn--full general-form__submit" value="{{ 'customer.recover_password.submit' | t }}">
                        </p>

                        <a href="#" class="underlined-link general-form__back-link" id="HideRecoverPasswordLink">{{ 'customer.recover_password.cancel' | t }}</a>

                  </div>

                </div>

            </div>
            {% endform %}
        </div>

      </div>

      {% comment %}
        If accounts are set as optional, the following will be shown as an option
        during checkout, not on the default /login page.
      {% endcomment %}
      {% if shop.checkout.guest_login %}
         <div class="grid">
            <div class="grid__item xlarge--four-twelfths large--one-half push--xlarge--one-third push--large--one-quarter text-center">

                <header class="section-header">
                  <h2 class="section-header__title">{{ 'customer.login.guest_title' | t }}</h2>
                </header>

                {% form 'guest_login' %}
                  <input type="submit" class="btn general-form__submit" value="{{ 'customer.login.guest_continue' | t }}">
                {% endform %}

            </div>
         </div>
      {% endif %}

    </div>

  </div>
</div>