<!-- /templates/customers/register.liquid -->
<div class="account-page--wrapper">

      {% form 'create_customer', class: 'general-form' %}

        <div class="grid">
          <div class="grid__item large--one-half push--large--one-quarter text-center">

            <header class="section-header">
              <h1 class="section-header__title h2">{{ 'customer.register.title' | t }}</h1>
              <p><span>{% if form.errors %}{{ 'customer.login.try_again' | t }}{% else %}{{ 'layout.customer.have_an_account' | t }}{% endif %}</span> {{ 'layout.customer.log_in' | t | customer_login_link | replace: 'href=', 'class="underlined-link" href=' }}</p>
            </header>

          </div>
        </div>

        <div class="grid">

          <div class="grid__item xlarge--four-twelfths large--one-half push--xlarge--one-third push--large--one-quarter text-center">

            <div class="general-form--inner">

              {{ form.errors | default_errors }}

              <div class="input-group">
                <input type="text" name="customer[first_name]" id="FirstName" class="input-full" placeholder="{{ 'customer.register.first_name' | t }}" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words">
                <label for="FirstName" class="floated-label">{{ 'customer.register.first_name' | t }}</label>
              </div>

              <div class="input-group">
                <input type="text" name="customer[last_name]" id="LastName" class="input-full" placeholder="{{ 'customer.register.last_name' | t }}" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words">
                <label for="LastName" class="floated-label">{{ 'customer.register.last_name' | t }}</label>
              </div>

              <div class="input-group">
                <input type="email" name="customer[email]" id="Email" class="input-full{% if form.errors contains 'email' %} error{% endif %}" placeholder="{{ 'customer.register.email' | t }}" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">
                <label for="Email" class="floated-label">{{ 'customer.register.email' | t }}</label>
              </div>

              <div class="input-group">
                <a href="#" class="toggle-password icon-eye"></a>
                <input type="password" name="customer[password]" id="CreatePassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customer.register.password' | t }}">
                <label for="CreatePassword" class="floated-label">{{ 'customer.register.password' | t }}</label>
              </div>

              <label class="checkbox-group">
                <input type="hidden" name="customer[accepts_marketing]" value="" />
                <input type="checkbox" name="customer[accepts_marketing]" checked="checked" />
                <span class="checkbox-label">{{ 'layout.customer.accepts_marketing' | t }}</span>
              </label>

              <p>
                <input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn btn--full general-form__submit">
              </p>

            </div>

          </div>

        </div>

      {% endform %}

    </div>

  </div>
</div>