<section data-section-id="{{ section.id }}" id="home-two-col-section">
	<div class="wrapper animation-holder viewport-section">
		{% for block in section.blocks %}
			<div class="column animation-block">
				<a href="{{ block.settings.link }}" class="animation-img-block">
					<img src="{{ block.settings.image-picker | img_url: '800x' }}" alt="{{ block.settings.image.alt }}">

					<div class="text-wrap white--text">
						<h5>{{ block.settings.eyebrow }}</h5>
						<h2>{{ block.settings.title }}</h2>

						{% if block.settings.link %}
							<button class="ports-btn white" href="{{ block.settings.link }}">
								<span>
									{{- block.settings.linktext -}}
								</span>
							</button>
						{% endif %}
					</div>
				</a>
			</div>
		{% endfor %}
	</div>
</section>

{% schema %}
  {
    "name": "Two Column Img/Text",
    "max_blocks": 2,
    "blocks": [
      {
        "type": "select",
        "name": "Add Grid",
        "settings": [
          {
            "id": "eyebrow",
            "type": "text",
            "label": "Eyebrow",
            "default": "Hello World"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Title",
            "default": "Hello World"
          },
          {
            "id": "link",
            "type": "url",
            "label": "Button link"
          },
          {
            "id": "linktext",
            "type": "text",
            "label": "Button text",
            "default": "Click here"
          },
          {
            "id": "image-picker",
            "type": "image_picker",
            "label": "Background Image"
          }
        ]
      }
    ],
  "presets": [
    {
        "name": "Two Column Img/Text",
        "category": "Home Page",
        "blocks": [
          { 
            "type": "select"
          }
        ]
    }
  ]
  }
{% endschema %}
