{% for block in section.blocks %}
	<section data-section-id="{{ section.id }}-{{ forloop.index }}" class="lookbook-feed--block animation-holder viewport-section">
		<div class="two-col-img-text">

			<div class="img-wrap animation-block">
				<div class="animation-img-block">
					<img src="{{ block.settings.image-picker | img_url: 'master' }}" alt="{{ block.settings.image-picker.alt }}">
				</div>
			</div>

			<div class="text-header-container">

				<div class="eyebrow_text">
					<span class="slash-img"></span>
					<h5>{{ block.settings.eyebrow }}</h5>
				</div>
				<h2>{{ block.settings.title }}</h2>
				<p> {{ block.settings.copy }}</p>
				{% if block.settings.link %}
					<a href="{{ block.settings.link }}" class="ports-btn" title="link to shop products"><span> {{ block.settings.linktext }}</span></a>
				{% endif %}

			</div>

		</div>
	</section>
{% endfor %}

{% schema %}
  {
    "name": "Lookbook Feed",
	"class": "lookbook-feed--section",
    "settings": [],
	"blocks": [
		{
			"type": "lookbook",
			"name": "Lookbook",
			"settings": [
			  {
				"id": "eyebrow",
				"type": "text",
				"label": "Eyebrow",
				"default": "Hello world"
			  },
			  {
				"id": "title",
				"type": "text",
				"label": "Title",
				"default": "Hello world"
			  },
			  {
				"id": "copy",
				"type": "textarea",
				"label": "Copy",
				"default": "Hello world"
			  },
			  {
				"id": "link",
				"type": "url",
				"label": "Button link"
			  },
			  {
				"id": "linktext",
				"type": "text",
				"label": "Button text",
				"default": "Click here"
			  },
			  {
				"id": "image-picker",
				"type": "image_picker",
				"label": "Image"
			  }
			]
		}
	]
  }
{% endschema %}