<section id="Lookbook_bold_text">

    <div class="eyebrow_text">
      <span class="eyebrow h4"> {{ page.metafields.lookbook.eyebrow_text }}  </span>
      <span class="slash-img"></span>
    </div>

  <h2 class="h3"> {{ page.metafields.lookbook.bold_text }}</h2>

</section>


<section id="Lookybooky">

    {% assign count = 0 %}

    {% for value in page.metafields.lookbook.image_one %}

        {% assign count = count | plus: 1 %}

        {% if page.metafields.lookbook.image_two[forloop.index0].size > 0 %}

            <div class="animation-holder viewport-section images-column-container mob-hide">
                <div class="block animation-block half_width ports-pad-all">
                    <div class="img-block animation-img-block">
                        {{ page.metafields.lookbook.image_one[forloop.index0] | img_tag }}
                        <button class="ports-btn white slider_btn" data-slider="slider_right_{{ count }}"><span>+ Shop the look</span></button>
                        <button class="ports-btn white back slider_btn_destroy" data-slider="slider_right_{{ count }}"><span>&#x2715; Hide products</span></button>
                    </div>
                </div> <!-- half_width -->
                <div class="block animation-block half_width ports-pad-all">
                    <div class="img-block animation-img-block">
                        {{ page.metafields.lookbook.image_two[forloop.index0] | img_tag }}
                        <button class="ports-btn white slider_btn" data-slider="slider_left_{{ count }}"><span>+  Shop the look</span></button>
                        <button class="ports-btn white back slider_btn_destroy" data-slider="slider_left_{{ count }}"><span>&#x2715; Hide products</span></button>
                    </div>
                </div> <!-- half_width -->
            </div> <!-- images-column-container -->

            <div class="slider_wrapper animation-holder viewport-section non-init">
                <div class="block animation-block desk-hide">
                    <div class="img-block animation-img-block">
                     {{ page.metafields.lookbook.image_one[forloop.index0] | img_tag }}
                      <button class="ports-btn white slider_btn" data-slider="slider_right_{{ count }}"><span>+ Shop the look</span></button>
                      <button class="ports-btn white back slider_btn_destroy" data-slider="slider_right_{{ count }}"><span>&#x2715; Hide products</span></button>
                    </div>
                </div>
                <div class="block-slider-container ports-pad-all">
                    <div id="slider_right_{{ count }}" class=" product-scroll">
                        <div class="product-scroll__wrapper">
                            {%- assign selected_handles = page.metafields.lookbook.column_one_products[forloop.index0] | split: '|' -%}
                            {% for selected_handle in selected_handles %}
                                {% assign product = all_products[selected_handle] %}
                                {% if product != empty %}
                                    {% if section.settings.show_sold_out %}
                                        <div class="item">
                                            {% include 'product-grid-item_ports' %}
                                        </div>
                                    {% elsif product.available %}
                                        <div class="item">
                                            {% include 'product-grid-item_ports' %}
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div> <!-- slider -->
                </div><!-- block-slider-container -->
            </div><!-- column 1 wrapper -->

            <div class="slider_wrapper animation-holder viewport-section non-init">
                <div class="block animation-block desk-hide">
                    <div class="img-block animation-img-block">
                     {{ page.metafields.lookbook.image_two[forloop.index0] | img_tag }}
                      <button class="ports-btn white slider_btn" data-slider="slider_left_{{ count }}"><span>+ Shop the look</span></button>
                      <button class="ports-btn white back slider_btn_destroy" data-slider="slider_left_{{ count }}"><span>&#x2715; Hide products</span></button>
                    </div>
                </div>
                <div class="block-slider-container ports-pad-all">
                    <div id="slider_left_{{ count }}" class="product-scroll">
                        <div class="product-scroll__wrapper">
                            {%- assign selected_handles = page.metafields.lookbook.column_two_products[forloop.index0] | split: '|' -%}
                            {% for selected_handle in selected_handles %}
                                {% assign product = all_products[selected_handle] %}
                                {% if product != empty %}
                                    {% if section.settings.show_sold_out %}
                                        <div class="item">
                                            {% include 'product-grid-item_ports' %}
                                        </div>
                                    {% elsif product.available %}
                                        <div class="item">
                                            {% include 'product-grid-item_ports' %}
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div> <!-- slider -->
                </div><!-- block-slider-container -->
            </div><!-- column 2 wrapper -->

        {% else %}


            <div class="slider_wrapper animation-holder viewport-section non-init {% if page.metafields.lookbook.full_bleed[forloop.index0] == 'true' %}full_bleed{% else %}full_width{% endif %}">
                <div class="block animation-block ports-pad-all">
                    <div class="img-block animation-img-block">
                     {{ page.metafields.lookbook.image_one[forloop.index0] | img_tag }}
                      <button data-slider="slider_full_{{ count }}" class="ports-btn white slider_btn"><span>+ Shop the look</span></button>
                      <button data-slider="slider_full_{{ count }}" class="ports-btn white back slider_btn_destroy"><span>&#x2715; Hide products</span></button>
                    </div>
                </div>
                <div class="block-slider-container ports-pad-all">
                    <div id="slider_full_{{ count }}" class="product-scroll">
                        <div class="product-scroll__wrapper">
                            {% assign selected_handles = page.metafields.lookbook.column_one_products[forloop.index0] | split: '|' %}
                            {% for selected_handle in selected_handles %}
                                {% assign product = all_products[selected_handle] %}
                                {% if product != empty %}
                                    {% if section.settings.show_sold_out %}
                                        <div class="item">
                                            {% include 'product-grid-item_ports' %}
                                        </div>
                                    {% elsif product.available %}
                                        <div class="item">
                                            {% include 'product-grid-item_ports' %}
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div> <!-- slider -->
                </div> <!-- block-slider-container -->
            </div><!-- single column wrapper -->

        {% endif %}

    {% endfor %}

</section>

{% schema %}
  {
    "name": "Lookbook",
    "settings": [
        {
            "type": "checkbox",
            "id": "show_sold_out",
            "label": "Show sold out products"
        }
    ],
    "presets": [
      {
        "name": "Lookbook Layout",
        "category": "Lookbook Page"
      }
    ]
  }
{% endschema %}

{% javascript %}
    $(function() {
        initProductsOpenClose();
    });

    function initProductsOpenClose() {
        var $btnOpen = $('.slider_btn');
        var $btnClose = $('.slider_btn_destroy');
        var closedClass = 'non-init';
        var btnToggleClass = 'back';

        $btnOpen.on('click', function(e) {
            e.preventDefault();
            var $btn = $(this);
            var $slider = $('#'+$btn.data('slider'));

            /* $btnClose.trigger('click');

            if (!$slider.hasClass('slick-initialized')) {
                initProductsCarousel($slider);
            }

            $slider.resize(); */

            $btn.addClass(btnToggleClass);
            $btn.next().removeClass(btnToggleClass);
            $slider.closest('.slider_wrapper').removeClass(closedClass);
        });

        $btnClose.on('click', function(e) {
            e.preventDefault();
            var $btn = $(this);
            var $slider = $('#'+$btn.data('slider'));

            $btn.prev().removeClass(btnToggleClass);
            $btn.addClass(btnToggleClass);
            $slider.closest('.slider_wrapper').addClass(closedClass);
        });
    }

    function initProductsCarousel($slider) {
        $slider.slick({
            infinite: false,
            slidesToShow: 3,
            slidesToScroll: 1,
            draggable: false,
            prevArrow: '<button type="button" class="slick-prev slick-nav"><span>Previous</span></button>',
            nextArrow: '<button type="button" class="slick-next slick-nav"><span>Next</span></button>',
            responsive: [
              {
                breakpoint: 1023,
                settings: {
                  slidesToShow: 2
                }
              },
              {
                breakpoint: 719,
                settings: {
                slidesToShow: 1
                }
              }
            ]
        });
    }
{% endjavascript %}