<section data-section-id="{{ section.id }}" id="about_text-img" class="viewport-section">
	<div class="wrapper desk--hide tablet-down">
		<header>
			<div class="text-header-container">
				<div class="eyebrow_text">
					<span class="slash-img"></span>

					<h5 class="h5">{{ section.settings.eyebrow }}</h5>
				</div>

				<h4> {{ section.settings.title }} </h4>
			</div>
		</header>
	</div>

	<div class="wrapper">
		<div class="column text-container">
			<header>
				<div class="text-header-container tab-down--hide">
					<div class="eyebrow_text">
						<span class="slash-img"></span>

						<h5>{{ section.settings.eyebrow }}</h5>
					</div>

					<h4> {{ section.settings.title }} </h4>
				</div>

				<p> {{ section.settings.copy }} </p>
			</header>
		</div>

		<div class="column">
			<div class="img-wrap">
				<img src="{{ section.settings.image-picker | img_url: 'master' }}"
					 alt="{{ section.settings.image-picker.alt }}">
			</div>
		</div>
	</div>
</section>

{% schema %}
  {
    "name": "Text & Image",
    "settings": [
      {
        "id": "eyebrow",
        "type": "text",
        "label": "Eyebrow",
        "default": "Hello world"
      },
      {
        "id": "title",
        "type": "text",
        "label": "Title",
        "default": "Hello world"
      },
      {
        "id": "copy",
        "type": "textarea",
        "label": "Copy",
        "default": "Hello world"
      },
      {
        "id": "image-picker",
        "type": "image_picker",
        "label": "Right Image"
      }
    ],
    "presets": [
      {
          "name": "Text & Image",
          "category": "About Page"
      }
    ]
  }
{% endschema %}
