<!-- /templates/page.contact.liquid -->
<div class="general-page--wrapper contact-page--wrapper">
  <div class="grid">

    <div class="grid__item large--four-eighths push--large--two-eighths">

      {% form 'contact', class: 'general-form'  %}

        {% comment %}
          Successful message
        {% endcomment %}
        {% if form.posted_successfully? %}
          <div class="general-form--success">
            <header class="section-header text-center">
              <h2 class="section-header__title">{{ 'contact.form.post_success_title' | t }}</h2>
              <p>{{ 'contact.form.post_success' | t }}</p>
            </header>
            <div class="grid">
              <div class="grid__item large--one-half push--large--one-quarter text-center">
                <div class="general-form--inner">
                  <a href="{{ shop.url }}" class="btn btn--full general-form__submit">{{ 'contact.form.post_success_continue' | t }}</a>
                </div>
              </div>
            </div>
          </div>
        {% else %}


          <header class="section-header text-center contact-page__header">
            <h1 class="section-header__title h2">{{ page.title }}</h1>
            <div class="grid">
              <div class="grid__item xlarge--six-tenths push--xlarge--one-fifth large--eight-tenths push--large--one-tenth medium--three-quarters push--medium--one-eighth">
                <div class="rte rte--indented-images contact-page__content text-center">
                  {{ page.content }}
                </div>
              </div>
            </div>
          </header>

          <div class="general-form--inner">

            {{ form.errors | default_errors }}

            <div class="grid">
              <div class="grid__item medium--one-half large--one-half">
                <div class="input-group">
                  <input type="text" id="ContactFormFirstName" class="input-full" name="contact[first_name]" placeholder="{{ 'contact.form.first_name' | t }}" autocapitalize="words" value="{% if form.first_name %}{{ form.first_name }}{% elsif customer %}{{ customer.first_name }}{% endif %}">
                  <label for="ContactFormFirstName" class="floated-label">{{ 'contact.form.first_name' | t }}</label>
                </div>
              </div>

              <div class="grid__item medium--one-half large--one-half">
                <div class="input-group">
                  <input type="text" id="ContactFormLastName" class="input-full" name="contact[last_name]" placeholder="{{ 'contact.form.last_name' | t }}" autocapitalize="words" value="{% if form.first_name %}{{ form.last_name }}{% elsif customer %}{{ customer.last_name }}{% endif %}">
                  <label for="ContactFormLastName" class="floated-label">{{ 'contact.form.last_name' | t }}</label>
                </div>
              </div>
            </div>

            <div class="grid">
              <div class="grid__item medium--one-half large--one-half">
                <div class="input-group">
                  <input type="email" id="ContactFormEmail" class="input-full" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
                  <label for="ContactFormEmail" class="floated-label">{{ 'contact.form.email' | t }}</label>
                </div>
              </div>
              <div class="grid__item medium--one-half large--one-half">
                <div class="input-group">
                  <input type="text" id="ContactFormSubject" class="input-full" name="contact[subject]" placeholder="{{ 'contact.form.subject' | t }}" autocorrect="off" autocapitalize="off" value="">
                  <label for="ContactFormSubject" class="floated-label">{{ 'contact.form.subject' | t }}</label>
                </div>
              </div>
            </div>

            <div class="input-group">
              <textarea rows="10" id="ContactFormMessage" class="input-full" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>
              <label for="ContactFormMessage" class="floated-label label-for-textarea">{{ 'contact.form.message' | t }}</label>
            </div>

            <input type="submit" class="btn btn--full general-form__submit general-form__submit_limited" value="{{ 'contact.form.send' | t }}">

          </div>

        {% endif %}

      {% endform %}

    </div>
  </div>
</div>