{% paginate search.results by 12 %}
	<div class="grid search" data-section-type="search">
		<div class="grid__item">
			<header class="section-header text-center">
				{% if search.performed %}
					{% if search.results_count == 0 %}
						<h1 class="text-center search__title">{{ 'general.search.no_results_html' | t: terms: search.terms }}</h1>
					{% else %}
						<h1 class="text-center search__title">{{ 'general.search.results_for_html' | t: terms: search.terms }}</h1>
					{% endif %}
				{% else %}
					<h1 class="text-center search__title">{{ 'general.search.title' | t }}</h1>
				{% endif %}
			</header>

			{% include 'search-bar', search_btn_style: 'btn', search_bar_location: 'search-bar--page' %}

			{% if search.performed %}
                <div class="search__content">
                    <div class="grid-uniform search__items-wrapper">
                        {% for item in search.results %}
                            {% if item.object_type == 'product' %}
                                {% assign product = item %}

                                {% include 'product-grid-item-search' %}
                            {% endif %}

                            {% if item.object_type == 'article' %}
                                <div class="search__item">
                                    <div class="grid-search__page">
                                        <a href="{{ item.url }}" class="grid-search__page-link">
                                            <div class="search__item-image-wrapper">
                                                <img class="search__item-image" src="{{ item.image.src | img_url: '500x' }}" alt="">
                                            </div>

                                            <span class="grid-search__page-content">
                                                  <span class="search__item-title">
                                                      {{- item.title -}}
                                                  </span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

				{% if paginate.pages > 1 %}
					{% include 'pagination' %}
				{% endif %}
                </div>
			{% endif %}
		</div>
	</div>
{% endpaginate %}
